body{
    background-color: rgb(3, 21, 23);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    position: relative;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px rgb(230, 242, 5);
}

#task-form{
    margin-left: 150px;
    /* place-items: center;
    display:block; */
}

.main-container{
 margin-top: 25px;   
box-shadow: 0 0 30px #fff;
margin-left: 100px;
margin-right: 100px;
    /* width: 1000px; */
    padding: 50px;
}

.container{ 
    place-items: center;
    display: grid;
    margin-bottom: 0px;
padding-bottom: 80px;
}

#task-input-title{
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 10px;
    margin-left: 68px;
    font-size: 17px;
}

#task-input-descrip{
    border-radius: 10px;
    width: 300px;
    height: 80px;
    font-size: 17px;
    margin-left: 10px;
}

#title{
    font-size: 20px;
}

#task-submit{
margin: 20px;
height: 50px;
width: 100px;
border-radius: 15px;
color: #000;
background-color: greenyellow;
font-size: 17px;
}

h3{
    margin: 30px;
    padding: 10px;
    text-align: center;
    /* border-top: solid; */
    border: dotted;
    border-width: 5px;
    border-radius: 10px;
}

.task-head{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.addstyle{
    width: 200px;
}

.task-status{
    height: 20px;
    width: 20px;
    margin: 18px;
}

.title-input-data{
    font-size: 18px;
    background-color: rgb(3, 21, 23);
    color: #fff;
    border: none;
    text-align: center;
    width: 200px;
}

.descrip-input-data{
    font-size: 18px;
    background-color: rgb(3, 21, 23);
    color: #fff;
    border: none;
    text-align: center;
    width: 200px;
}

.DT-data{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    /* width: 800px; */
}

.edit-btn{
    text-align: center;
    background-color: rgb(212, 216, 6);
    height: 30px;
    width: 60px;
    color: #000;
    font-size: 18px;
    margin: 10px;
}

.detele-btn{
    text-align: center;
    background-color: rgb(253, 7, 7);
    height: 30px;
    width: 80px;
    color: #000;
    font-size: 18px;
    margin: 10px;
}

td.complate-icon{
    margin: 0px;
    padding: 0px;
}


footer{
    /* margin-top: 500px; */
    position: absolute;
    bottom: 0;
    background-color: rgb(54, 53, 53);
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0px;
}

.f-text{
    padding: 5px;
    font-size: medium;
    margin: 0px;
}

a{
    color: #fff;
    font-size: medium;
    text-decoration: none;
}